<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.be.samplelayout" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Improvement Project"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="Improvement Project" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tab1Activity" />
        <activity android:name=".Tab2Activity" />
        <activity android:name=".Tab1" />
        <activity android:name=".Tab2"/>
        <activity
            android:name=".CustomList"
            android:label="@string/title_activity_custom_list" >
        </activity>
        <activity
            android:name=".MenuActivity1">
        </activity>
    </application>

</manifest>
